
.font-raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: bisque;
    padding-top: 50px;
}

ul a{
    text-decoration: none;
    color:black;
}
nav{
    width: 80% ;
    max-width: 1600px;
    border: 1px solid red;
    margin: 0px auto ;
    justify-content: space-between;
    display: flex;
}
nav .menu{
     display: flex;
     list-style: none;
     gap: 50px ;
     align-items: center;
}
.bttn{
    background-color: orange;
    border:none;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    color: aliceblue;
    
    
    
}